*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: inset;
}

.container{
    background-color: rosybrown;
    height: 300px;
    width:400px;
    padding: 5px 0;
    border: 2px;
    border-radius: 5px;
    text-align:center;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    box-shadow: 8px 8px 4px #fff;
}

body{
    background-color: pink;
    color:whitesmoke
}

h1{
    font-size:medium;
}

.inputbox{
    position: relative;

}

.inputbox span{
    position: absolute;
    top: 10px;
    right: 95px;
    color: black;
    cursor: pointer;
}
.passBox{
    background-color: lightpink;
    border: none;
    outline: none;
    padding:10px 25px;
    border-radius: 5px;
    margin-block: 4px;

}
.row{
   display: flex;
   margin:2px;
}
.row p{
    flex-basis:75%;
}
.row label{
     flex-basis:75%;
     
}

.row input[type="checkbox"]{
    width:20px;
    height:20px;
    font-size: medium;
    margin: 2px;

}

.genBtn{
    border: none;
    outline: none;
    background-color: lightslategray;
    padding: 12px;
    color: wheat;
    cursor: pointer;
    border-radius: 4px;
    
}
.genBtn:hover{
    background-color:slategrey;
    color: black
}

